{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <header class="container">
        <div class="row">
            <div class="col-12 text-center my-4">
                <h2>Bag</h2>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                {% if bag_items %}
                    <!-- DESKTOP BAG VIEW -->
                    <div class="container d-none d-md-block">
                        <div class="row my-4 border-bottom">
                            <div class="col-3">
                                <h5>Service name</h5>
                            </div>
                            <div class="col-3">
                                <h5>Start date</h5>
                            </div>
                            <div class="col-3">
                                <h5>Price</h5>
                            </div>
                            <div class="col-3"></div>
                        </div>
                        {% for item in bag_items %}
                            <div class="row my-4">
                                <div class="col-3">{{ item.service_name }}<br>
                                    <small>with <strong>{{ item.companion_selected }}</strong></small>
                                </div>
                                <div class="col-3">{{ item.start_datetime|date:"D d M, g:iA" }}</div>
                                <div class="col-3">
                                    <strong>£{{ item.service_price }}</strong><br>
                                    {{ item.service_price_type.get_friendly_name }}
                                </div>
                                <div class="col-3">
                                    <a class="remove-item text-danger" id="delete_{{ item.service_name }}_{{ item.start_datetime|date:'Y-m-d H:i:s' }}_{{ item.companion_selected }}">
                                        <small>Delete</small>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- MOBILE BAG VIEW -->
                    <div class="container d-block d-md-none">
                        {% for item in bag_items %}
                            <div class="row mobile-table-container my-2">
                                <div class="col-12"><strong>{{ item.service_name }}</strong></div>
                                <div class="col-12">with <i>{{ item.companion_selected }}</i></div>
                                <div class="col-12">{{ item.start_datetime|date:"D d M, g:iA" }}</div>
                                <div class="col-12 my-3">
                                    <strong>£{{ item.service_price }}</strong><br>
                                    {{ item.service_price_type.get_friendly_name }}</i>
                                </div>
                                <div class="col-12">
                                    <a class="remove-item text-danger" id="delete_{{ item.service_name }}_{{ item.start_datetime|date:'Y-m-d H:i:s' }}_{{ item.companion_selected }}">
                                        <small>Delete</small>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <p class="pt-4">Total cost: <strong>£{{ total }}</strong></p>
                    <a class="btn btn-hero" href="{% url 'checkout' %}">
                        Complete Order <i class=" ps-2 fas fa-lock"></i>
                    </a>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <a href="{% url 'compare_services' %}"><span class="text-uppercase">Keep Shopping</span></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        // DELETE ITEM FROM BAG AND REFRESH ON CLICK
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}"
            var itemName = $(this).attr('id').split('delete_')[1];
            var url = `/bag/remove/${itemName}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};
            $.post(url, data)
             .done(function(){
                 location.reload();
             });
        })
    </script>
{% endblock %}