{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <header class="container">
        <div class="row">
            <div class="col-12 text-center my-4">
                <h2>Bag</h2>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Service name</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <p>{{ item.service_name }}</p>
                                        <small>with <strong>{{ item.companion_selected }}</strong> on <strong>{{ item.start_datetime|date:"D d M, g:iA" }}<br></strong></small>
                                    </td>
                                    <td class="p-3 w-25">
                                        <p class="my-0"><strong>{{ item.service_price }}</strong> {{ item.service_price_type.get_friendly_name }}</p>
                                    </td>
                                    <td class="p-3 w-25">
                                        <!-- 2021-08-16 09:00:00 -->
                                        <a class="remove-item text-danger" id="delete_{{ item.service_name }}_{{ item.start_datetime|date:'Y-m-d H:i:s' }}_{{ item.companion_selected }}"><small>Delete</small>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <p>Total: {{ total }}</p>
                        <a href="{% url 'checkout' %}">
                            <span class="font-weight-bold">Complete Order</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <a href="{% url 'compare_services' %}"><span class="text-uppercase">Keep Shopping</span></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        // DELETE ITEM FROM BAG AND REFRESH ON CLICK
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}"
            var itemName = $(this).attr('id').split('delete_')[1];
            var url = `/bag/remove/${itemName}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};
            $.post(url, data)
             .done(function(){
                 location.reload();
             });
        })
    </script>
{% endblock %}