{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <header class="container">
        <div class="row">
            <div class="col-12 text-center my-4">
                <h2>Our Companions</h2>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
            
        <div class="row">
            {% for companion in companions %}
                <div class="col-12 col-xl-6">
                    <div class="testimonial-block mt-2 mb-4 px-4">
                        <div class="align-self-center">
                            <div class="mb-2">
                                <span class="h5">{{ companion.full_name|title }}</span> <span class="text-muted">({{ companion }})</span>
                            </div>
                            <p>{{ companion.bio }}</p>
                            <div class="row gy-2 w-100">
                                <h6>Services</h6>
                                <div class="col-6">
                                    {% if companion.peer_programming_offered %}
                                        <i class="fas text-success fa-check-circle"></i>
                                    {% else %}
                                        <i class="far fa-times-circle"></i>
                                    {% endif %}
                                    <span {% if not companion.peer_programming_offered %} class="text-muted"{% endif %}>Peer Programming</span>
                                </div>

                                <div class="col-6">
                                    {% if companion.code_review_offered %}
                                        <i class="fas text-success fa-check-circle"></i>
                                    {% else %}
                                        <i class="far fa-times-circle"></i>
                                    {% endif %}
                                    <span {% if not companion.code_review_offered %} class="text-muted"{% endif %}>Code Review</span>
                                </div>

                                <div class="col-6">
                                    {% if companion.troubleshooting_offered %}
                                        <i class="fas text-success fa-check-circle"></i>
                                    {% else %}
                                        <i class="far fa-times-circle"></i>
                                    {% endif %}
                                    <span {% if not companion.troubleshooting_offered %} class="text-muted"{% endif %}>Troubleshooting</span>
                                </div>

                                <div class="col-6">
                                    {% if companion.whiteboarding_session_offered %}
                                        <i class="fas text-success fa-check-circle"></i>
                                    {% else %}
                                        <i class="far fa-times-circle"></i>
                                    {% endif %}
                                    <span {% if not companion.whiteboarding_session_offered %} class="text-muted"{% endif %}>Whiteboarding Session</span>
                                </div>

                                <div class="col-6">
                                    {% if companion.interview_prep_offered %}
                                        <i class="fas text-success fa-check-circle"></i>
                                    {% else %}
                                        <i class="far fa-times-circle"></i>
                                    {% endif %}
                                    <span {% if not companion.interview_prep_offered %} class="text-muted"{% endif %}>Interview Prep</span>
                                </div>

                                <div class="col-6">
                                    {% if companion.deployment_assist_offered %}
                                        <i class="fas text-success fa-check-circle"></i>
                                    {% else %}
                                        <i class="far fa-times-circle"></i>
                                    {% endif %}
                                    <span {% if not companion.deployment_assist_offered %} class="text-muted"{% endif %}>Deployment Assist</span>
                                </div>

                                <hr>

                                <h6>Availability</h6>

                                <div class="col-6">
                                    {% if companion.monday_available %}
                                        <i class="fas text-success fa-check-circle"></i>
                                    {% else %}
                                        <i class="far fa-times-circle"></i>
                                    {% endif %}
                                    <span {% if not companion.monday_available %} class="text-muted"{% endif %}>Monday</span>
                                </div>

                                <div class="col-6">
                                    {% if companion.tuesday_available %}
                                        <i class="fas text-success fa-check-circle"></i>
                                    {% else %}
                                        <i class="far fa-times-circle"></i>
                                    {% endif %}
                                    <span {% if not companion.tuesday_available %} class="text-muted"{% endif %}>Tuesday</span>
                                </div>

                                <div class="col-6">
                                    {% if companion.wednesday_available %}
                                        <i class="fas text-success fa-check-circle"></i>
                                    {% else %}
                                        <i class="far fa-times-circle"></i>
                                    {% endif %}
                                    <span {% if not companion.wednesday_available %} class="text-muted"{% endif %}>Wednesday</span>
                                </div>

                                <div class="col-6">
                                    {% if companion.thursday_available %}
                                        <i class="fas text-success fa-check-circle"></i>
                                    {% else %}
                                        <i class="far fa-times-circle"></i>
                                    {% endif %}
                                    <span {% if not companion.thursday_available %} class="text-muted"{% endif %}>Thursday</span>
                                </div>

                                <div class="col-6">
                                    {% if companion.friday_available %}
                                        <i class="fas text-success fa-check-circle"></i>
                                    {% else %}
                                        <i class="far fa-times-circle"></i>
                                    {% endif %}
                                    <span {% if not companion.friday_available %} class="text-muted"{% endif %}>Friday</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}