{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-7">
                <div id="hero" class="container d-flex">
                    <div class="row align-self-center">
                        {% if not request.user.is_authenticated %}
                            <h1 class="hero-text2"><span class="hero-underline">Boost</span> your learning with our experienced developer companions</h1>
                            <form class="mt-4">
                                <div class="input-group mb-3 signup-combo">
                                    <input id="hero-signup" type="email" class="form-control" placeholder="youremail@company.com" aria-label="Your email" aria-describedby="button-addon2" autofocus required>
                                    <a id="hero-btn" class="btn btn-hero signup-btn" href="{% url 'account_signup' %}" onclick="passEmailSignup(event, '#hero-signup', this)">Sign up now</a>
                                </div>
                            </form>
                            <a data-bs-toggle="modal" href="#companionSignUpModal" role="button" class="text-muted">Interested in becoming a companion?</a>
                        {% else %}
                        <div class="col">
                            <h1 class="hero-text2 pb-2">Welcome back, <span class="hero-underline">{{ request.user }}</span></h1>
                            <a class="btn btn-hero" href="{% url 'profile' %}" type="button">View profile</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 text-center d-flex">
                <div class="row align-self-center">
                    <img id="hero-img" src="https://i.imgur.com/dkxNuwv.png">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h5>Receive support from developers working for</h5>
            </div>
        </div>
        <div class="row d-flex my-4">
            <div class="col-6 col-md-4 col-lg-2 my-2 text-center align-self-center">
                <img class="company-logo" src="{% static 'images/apple-logo.png' %}">
            </div>
            <div class="col-6 col-md-4 col-lg-2 my-2 text-center align-self-center">
                <img class="company-logo" src="{% static 'images/google-logo.png' %}">
            </div>
            <div class="col-6 col-md-4 col-lg-2 my-2 text-center align-self-center">
                <img class="company-logo" src="{% static 'images/monzo-logo.png' %}">
            </div>
            <div class="col-6 col-md-4 col-lg-2 my-2 text-center align-self-center">
                <img class="company-logo" src="{% static 'images/pinterest-logo.png' %}">
            </div>
            <div class="col-6 col-md-4 col-lg-2 my-2 text-center align-self-center">
                <img class="company-logo" src="{% static 'images/microsoft-logo.png' %}">
            </div>
            <div class="col-6 col-md-4 col-lg-2 my-2 text-center align-self-center">
                <img class="company-logo" src="{% static 'images/mongodb-logo.png' %}">
            </div>
        </div>
    </div>
    <div class="container px-4 py-4">
        <div class="row gx-5 gy-3">
            <div class="col-12 col-lg-6 my-auto">
                <h3>Tired of following code tutorials online without anyone there to offer feedback?<br>Bootcamps unaffordable 💸 or not flexible enough to fit around your work schedule? ⏰</h3><br>
                <h4>Remotely partner with experienced <span class="stay-together">developers 🙋‍♂️🙋‍♀️</span> whenever you need the support so that you always have a companion to maximise your learning. 😎</h4>
            </div>
            <hr class="my-4 d-block d-lg-none">
            <div class="col-12 col-lg-6 my-4">
                <div class="row text-center">
                    <h5>What our learners and companion are saying</h5>
                </div>
                <div class="row d-flex testimonial-block mt-2 mb-4">
                    <div class="col-2 align-self-center">
                        <img class="img-quote" src="https://media-exp1.licdn.com/dms/image/C4D03AQGVHbPilnAa1g/profile-displayphoto-shrink_800_800/0/1543143281971?e=1628726400&v=beta&t=nkmyU-gD6RPudSiMML-YwZY2BHlAFDsSvgZ_-Vbnu2A" width="100%">
                    </div>
                    <div class="col align-self-center">
                        <span class="testimonial-quote">"Code Companion enabled me to develop much faster and what I learned was way more thorough than if I had been on my own."</span><br>
                        <span class="text-muted">Sam - Learner</span>
                    </div>
                </div>
                <div class="row d-flex testimonial-block mt-4">
                    <div class="col-2 align-self-center">
                        <img class="img-quote" src="https://media-exp1.licdn.com/dms/image/C4D03AQEYZPd5V_0WOQ/profile-displayphoto-shrink_800_800/0/1621445561983?e=1629331200&v=beta&t=eJn6ZtJ9kBnRh39id0ansPCGLsnvE62eRHfeiJ3wcXA" width="100%">
                    </div>
                    <div class="col align-self-center">
                        <span class="testimonial-quote">"Being able to support aspiring developers in my free time is very rewarding"</span><br>
                        <span class="text-muted">Thais - Companion</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row">
            <div class="col-12 text-center">
                <h5>Our code companions work with</h5>
                <h6 class="text-muted">More coming soon</h6>
            </div>
        </div>
        <div class="row d-flex my-2">
            <div class="col-6 col-md-4 col-lg-2 my-2 text-center align-self-center">
                <img class="company-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Python_logo_and_wordmark.svg/2560px-Python_logo_and_wordmark.svg.png">
            </div>
            <div class="col-6 col-md-4 col-lg-2 my-2 text-center align-self-center">
                <img class="company-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Flask_logo.svg/1280px-Flask_logo.svg.png">
            </div>
            <div class="col-6 col-md-4 col-lg-2 my-2 text-center align-self-center">
                <img class="company-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Django_logo.svg/1200px-Django_logo.svg.png">
            </div>
            <div class="col-6 col-md-4 col-lg-2 my-2 text-center align-self-center">
                <img class="company-logo" src="https://cdn.freebiesupply.com/logos/thumbs/2x/javascript-logo.png">
            </div>
            <div class="col-6 col-md-4 col-lg-2 my-2 text-center align-self-center">
                <img class="company-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/JQuery-Logo.svg/1280px-JQuery-Logo.svg.png">
            </div>
            <div class="col-6 col-md-4 col-lg-2 my-2 text-center align-self-center">
                <img class="company-logo" src="https://brandslogos.com/wp-content/uploads/images/large/heroku-logo-1.png">
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row">
            <div class="col-12 col-lg-8 order-2 order-lg-1">
                <h4>Frequently asked questions</h4>
                <div class="row mt-4">
                    <div class="accordion" id="accordionExample">
                        {% for entry in faq_ordered %}
                            <div class="accordion-item">
                            <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse{{ forloop.counter }}">
                                {{ entry.title }}
                                </button>
                            </h2>
                            <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                {{ entry.content }}
                                </div>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <a href="{% url 'faq' %}" class="text-end mt-2">View more</a>
                </div>
            </div>
            <div class="col-12 col-lg-4 order-1 order-lg-2">
                <h4>Services</h4>
                <div class="row my-4">
                    <div class="list-group px-2">
                        {% for service in services %}
                            <a href="{% url 'service_detail' service.endpoint %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                {{ service }}
                                <i class="fas fa-caret-right"></i>
                            </a>
                        {% endfor %}
                        <a href="{% url 'compare_services' %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <strong>Compare Services</strong>
                            <i class="fas fa-caret-right"></i>
                        </a>
                      </div>
                </div>
            </div>
        </div>
    </div>
    {% if not request.user.is_authenticated %}
        <div class="container">
            <div class="row pt-4">
                <div class="col-12 text-center">
                    <h2>Advance yourself. Sign up for an account.</h2>
                    <form class="mt-4">
                        <div class="input-group mb-3 signup-combo mx-auto">
                            <input id="footer-signup" type="email" class="form-control" placeholder="youremail@company.com" aria-label="Your email" required>
                            <a class="btn btn-hero" href="{% url 'account_signup' %}" onclick="passEmailSignup(event, '#footer-signup', this)">Sign up now</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- SIGN UP AS COMPANION MODAL -->
    <div class="modal fade" id="companionSignUpModal" tabindex="-1" aria-labelledby="companionSignUpModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="companionSignUpModalLabel">Join as a companion!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul>
                <li>Support the next generation of developers by sharing your expertise.</li>
                <li>You get full control of your schedule, providing you with ultimate flexibility over when you can take sessions.</li>
                <li>Earn 90% of the session cost, payable monthly via PayPal.</li>
            </ul>
            To become a Companion, sign up for an account using your PayPal email address, and on your Profile page tick the box to convert your account.
        </div>
        <div class="modal-footer">
            <a type="button" href="{% url 'account_signup' %}" class="btn btn-hero">Sign Up</a>
        </div>
        </div>
    </div>
    
{% endblock %}

{% block postloadjs %}
    <script type="application/javascript">

        // GETS VALUE OF EMAIL INPUT AND ADDS TO URL OF SIGNUP
        function passEmailSignup(event, input, button){
            console.log($(input).val())
            event.preventDefault()
            if ($(input).val().length > 0) {
                var url = $(button).attr('href')
                if (url.substring(url.length - 1) == '/'){
                    url = url.slice(0, -1)
                }
                var email = $(input).val()
                location.href = url + "?email=" + email
            } else {
                location.href = $(button).attr('href')
            }
        }

    </script>
{% endblock %}