{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Profile{% endblock %}

{% block page_header %}
    <header class="container">
        <div class="row mb-4">
            <div class="col-12 text-center my-4">
                <h2>Your Profile</h2>
                <span class="fs-6 text-muted">Logged in as <i>{{ account }}</i></span> <a href="{% url 'account_logout' %}">(Not you?)</a>
                {% if request.user.is_superuser %}
                    <br><a href="{% url 'admin_controls' %}" class="btn btn-hero my-3">Admin Controls</a>
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-md-6 mb-5">
                            <h4 class="pb-2">Update account</h4>
                            {{ user_form|crispy }}
                            <a href="{% url 'account_change_password' %}">Change password</a>
                        </div>
                        <div class="col-12 col-md-6">
                            <h3>Are you an experienced developer?</h3>
                            <h5 class="text-muted">You could help the next generation of developers by joining Code Companion!</h5>
                            <h6>All you need to do is</h6>
                            <ul class="mb-4">
                                <li>Tick the box below to convert your account to a Companion account</li>
                                <li>Tell us what services you are experienced in</li>
                                <li>Submit your availability</li>
                                <li>Ensure your account email address matches your PayPal account so we can transfer funds to you after you complete each session</li>
                            </ul>
                            <hr>
                            {{ companion_check|crispy }}
                            <!-- <button class="btn btn-hero">Convert account</button> -->
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12 col-lg-6">
                            {{ companion_availability.bio|as_crispy_field }}
                        </div>
                        <div class="col-12 col-lg-6 px-3">
                            <div class="row">
                                <div class="col-12 col-md-6 my-4">
                                    <h4>Your availability</h4>
                                    <p class="small text-muted mb-4">Your choices carry across to subsequent weeks</p>
                                    {{ companion_availability.monday_available|as_crispy_field }}
                                    {{ companion_availability.tuesday_available|as_crispy_field }}
                                    {{ companion_availability.wednesday_available|as_crispy_field }}
                                    {{ companion_availability.thursday_available|as_crispy_field }}
                                    {{ companion_availability.friday_available|as_crispy_field }}
                                </div>
                                <div class="col-12 col-md-6 my-4">
                                    <h4 class="pb-2">Services offered</h4>
                                    {% for service in services %}
                                        <div class="form-check mb-3">
                                            <input id="{{ service.endpoint }}" value="{{ service }}" name="service_offered" class="form-check-input" type="checkbox"{% if service in companion_services %} checked{% endif %}>
                                            <label for="{{ service.endpoint }}" class="form-check-label">{{ service }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <!-- <button type="submit" class="btn btn-hero mx-2">Submit changes to Companion profile</button> -->
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-hero mx-2 mb-4">Save changes</button>
                </form>
            </div>
        </div>


        <div class="my-5">
            <h4 class="m-0">Your upcoming sessions <span class="text-muted">(as companion){% if companion_sessions|length > 0 %} ({{ companion_sessions|length }}){% endif %}</span></h4>
            {% if companion_sessions|length > 0 %}<small class="text-muted">Check back here when your session is about to begin.</small>{% endif %}
        </div>
        <!-- MOBILE UPCOMING COMPANION SESSIONS -->
        {% if companion_sessions|length > 0 %} 
            <div class="container d-block d-md-none">
                {% for item in companion_sessions %}
                    <div class="row mobile-table-container my-2">
                        <div class="col-12"><strong>{{ item.session.service }}</strong></div>
                        <div class="col-12">{{ item.session.start_datetime|date:"D d M, g:iA" }}</div>
                        <div class="col-12">with <i>{{ item.session.companion_selected }}</i></div>
                        {% if item.status == 'upcoming' %}
                            <div class="col-12">
                                <span class="no-hover badge bg-warning">{{ item.status|title }}</span>
                            </div>
                        {% elif item.status == 'active' %}
                            <div class="col-12 my-4">
                                <a class="btn-hero rounded" href="{% url 'active_sessions' order_number=item.session.order %}">Join session </a>
                            </div>
                        {% endif %}
                        {% if item.session.order.notes %}
                            <button class="btn-none" data-bs-toggle="collapse" href="#x{{ item.session.order.order_number|slice:':10' }}" role="button" aria-expanded="false" aria-controls="x{{ item.session.order.order_number|slice:':10' }}">
                                <i class="fs-5 far fa-clipboard ps-2 pt-3"></i>
                            </button>
                        {% endif %}
                        <div class="collapse mt-2" id="x{{ item.session.order.order_number|slice:':10' }}">
                            <div class="card card-body">
                                <strong>Notes from student: </strong>
                                {{ item.session.order.notes }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- DESKTOP UPCOMING COMPANION SESSIONS -->
            <div class="container d-none d-md-block">
                <div class="row my-4 border-bottom">
                    <div class="col-3">
                        <h5>Service</h5>
                    </div>
                    <div class="col-3">
                        <h5>Student</h5>
                    </div>
                    <div class="col-3">
                        <h5>Start date</h5>
                    </div>
                    <div class="col-3">
                        <h5>Status</h5>
                    </div>
                </div>
                {% for item in companion_sessions %}
                    <div class="row py-3">
                        <div class="col-3">{{ item.session.service }}</div>
                        <div class="col-3">{{ item.session.order.user_profile }}
                            {% if item.session.order.notes %}
                                <button class="btn-none" data-bs-toggle="collapse" href="#x{{ item.session.order.order_number|slice:':10' }}" role="button" aria-expanded="false" aria-controls="x{{ item.session.order.order_number|slice:':10' }}">
                                    <i class="fs-5 far fa-clipboard ps-2"></i>
                                </button>
                            {% endif %}
                        </div>
                        <div class="col-3">{{ item.session.start_datetime|date:"D d M, g:iA" }}</div>
                        {% if item.status == 'upcoming' %}
                            <div class="col-3">
                                <span class="no-hover badge bg-warning">{{ item.status|title }}</span>
                            </div>
                        {% elif item.status == 'active' %}
                            <div class="col-3">
                                <a class="btn-hero rounded" href="{% url 'active_sessions' order_number=item.session.order %}">Join session</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="collapse row" id="x{{ item.session.order.order_number|slice:':10' }}">
                        <div class="card card-body col-12">
                            <strong>Notes from student: </strong>
                            {{ item.session.order.notes }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                <div class="col-12 text-center">
                    <div class="h5 py-5 text-muted">No upcoming or active sessions.</div>
                </div>
            </div>
        {% endif %}






        <div class="my-5">
            <h4 class="m-0">Your upcoming sessions{% if sessions|length > 0 %} <span class="text-muted">({{ sessions|length }})</span>{% endif %}</h4>
            {% if sessions|length > 0 %}<small class="text-muted">Check back here when your session is about to begin.</small>{% endif %}
        </div>
        <!-- MOBILE UPCOMING SESSIONS -->
        {% if sessions|length > 0 %}
            <div class="container d-block d-md-none">
                {% for item in sessions %}
                    <div class="row mobile-table-container my-2">
                        <div class="col-12"><strong>{{ item.session.service }}</strong></div>
                        <div class="col-12">{{ item.session.start_datetime|date:"D d M, g:iA" }}</div>
                        <div class="col-12">with <i>{{ item.session.companion_selected }}</i></div>
                        {% if item.status == 'upcoming' %}
                            <div class="col-12">
                                <span class="no-hover badge bg-warning">{{ item.status|title }}</span>
                            </div>
                        {% elif item.status == 'active' %}
                            <div class="col-12 my-4">
                                <a class="btn-hero rounded" href="{% url 'active_sessions' order_number=item.session.order %}">Join session </a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <!-- DESKTOP UPCOMING SESSIONS -->
            <div class="container d-none d-md-block">
                <div class="row my-4 border-bottom">
                    <div class="col-3">
                        <h5>Service</h5>
                    </div>
                    <div class="col-3">
                        <h5>Companion</h5>
                    </div>
                    <div class="col-3">
                        <h5>Start date</h5>
                    </div>
                    <div class="col-3">
                        <h5>Status</h5>
                    </div>
                </div>
                {% for item in sessions %}
                    <div class="row my-4">
                        <div class="col-3">{{ item.session.service }}</div>
                        <div class="col-3">{{ item.session.companion_selected }}</div>
                        <div class="col-3">{{ item.session.start_datetime|date:"D d M, g:iA" }}</div>
                        {% if item.status == 'upcoming' %}
                            <div class="col-3">
                                <span class="no-hover badge bg-warning">{{ item.status|title }}</span>
                            </div>
                        {% elif item.status == 'active' %}
                            <div class="col-3">
                                <a class="btn-hero rounded" href="{% url 'active_sessions' order_number=item.session.order %}">Join session</a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                <div class="col-12 text-center">
                    <div class="h5 py-5 text-muted">No upcoming or active sessions.</div>
                </div>
            </div>
        {% endif %}

        <h4 class="my-4 pt-5">Order history{% if orders|length > 0 %} <span class="text-muted">({{ orders_length }} total)</span>{% endif %}</h4>
        {% if orders|length > 0 %}
            <!-- MOBILE ORDER HISTORY -->
            <div id="orderHistoryMobile" class="container d-block d-md-none">
                {% for order in orders %}
                <div class="row mobile-table-container mb-4">
                    <div class="col-12 mt-2 pb-2">
                        <span>Order no.</span><br>
                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">{{ order.order_number|truncatechars:16 }}</a>
                    </div>
                    <div class="col-12 pb-4">
                        <span>Ordered on</span><br>
                        {{ order.date|date:"d M Y, g:iA" }}
                    </div>
                    <div class="col-12">
                        <ul class="list-unstyled border-top">
                            {% if order.lineitems.all|length > 0 %}
                                {% for item in order.lineitems.all %}
                                    <li class="border-bottom py-4 my-2">
                                        <div>
                                            - <strong>{{ item.service.name }}</strong><br>
                                            with <i>{{ item.companion_selected }}</i> on<br>
                                            <i>{{ item.start_datetime|date:"D d M, g:iA" }}</i>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li><i>This service is no longer being offered. Please contact us for support.</i></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="col-12 mb-2">
                        Total: £{{ order.order_total }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- DESKTOP ORDER HISTORY -->
            <div id="orderHistoryDesktop" class="container d-none d-md-block">
                <div class="row my-4 border-bottom">
                    <div class="col-3">
                        <h5>Order no.</h5>
                    </div>
                    <div class="col-3">
                        <h5>Order date</h5>
                    </div>
                    <div class="col-3">
                        <h5>Services</h5>
                    </div>
                    <div class="col-3">
                        <h5>Total</h5>
                    </div>
                </div>
                {% for order in orders %}
                    <div class="row">
                        <div class="col-3"><a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">{{ order.order_number|truncatechars:16 }}</a></div>
                        <div class="col-3">{{ order.date|date:"d M Y, g:iA" }}</div>
                        <div class="col-3">
                            <ul class="list-unstyled">
                                {% if order.lineitems.all|length > 0 %}
                                    {% for item in order.lineitems.all %}
                                        <li>
                                            <p>- <strong>{{ item.service.name }}</strong><br>
                                            with <i>{{ item.companion_selected }}</i> on<br>
                                            <i>{{ item.start_datetime|date:"D d M, g:iA" }}</i></p>
                                        </li>
                                    {% endfor %}
                                {% else %}
                                    <li><i>This service is no longer being offered. Please contact us for support.</i></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="col-3">£{{ order.order_total }}</div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                <div class="col-12 text-center">
                    <div class="h5 py-5 text-muted">No previous orders have been made.</div>
                </div>
            </div>
        {% endif %}
        {% if orders_length > 3 %}
            <button id="nextPage" class="page1">Show more</button>
        {% endif %}
    </div>
{% endblock %}

{% block postloadjs %}
    <script type="application/javascript">
        $("#nextPage").on('click', function(){
            var page_num = $("#nextPage").attr('class').substring(4)
            $.ajax(
            {
                type:"GET",
                url: "/profile/ajax_pagination",
                data:{
                    page_num: page_num,
                },
                success: function( data ) 
                {
                    if (data.has_next == false){
                        $("#nextPage").prop('disabled', true)
                    }
                    if (data.page_num){
                        $("#nextPage").attr('class', `page${data.page_num}`)
                        $("#orderHistoryDesktop").append(data.desktop)
                        $("#orderHistoryMobile").append(data.mobile)
                    }
                },
                error: function(e){
                    alert("An error has occured retrieving your order history. Please contact us for support. ")
                    console.log(e)
                }
            })
        })
    </script>
{% endblock %}