{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <header class="container">
        <div class="row">
            <div class="col-12 text-center my-4">
                <h2>Thank You</h2>
                <p>Your order information is below. A confirmation email has been sent to <strong>{{ order.email_address }}</strong>.</p>
                <p>Your order number is {{ order.order_number }}</p>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">

            </div>
        </div>
    </div>
{% endblock %}