{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <header class="container">
        <div class="row">
            <div class="col-12 text-center mt-4">
                <a href="{% url 'faq' %}"><i class="float-start fas fa-arrow-left"></i></a>
                <h2>FAQ</h2>
                <h4>Add a new entry</h4>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="{% url 'add_faq' %}" method="POST">
                    {% csrf_token %}
                    {{ faq_form|crispy }}
                    <button type="submit" class="btn btn-hero">{% if request.user.is_superuser %}Add{% else %}Ask{% endif %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}