{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <header class="container">
        <div class="row">
            <div class="col-12 text-center my-4">
                <h2>Bag</h2>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Service name</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <p class="my-0">{{ item.service_name }}</p>
                                    </td>
                                    <td class="p-3 w-25">
                                        <form class="update-form" action="{% url 'adjust_bag' item.service_name %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-black rounded-0">
                                                                    <span class="icon">
                                                                        <i class="fas fa-minus"></i>
                                                                    </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control qty_input" type="number"
                                                                name="quantity" value="{{ item.quantity }}" min="1" max="3">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-black rounded-0">
                                                                    <span class="icon">
                                                                        <i class="fas fa-plus"></i>
                                                                    </span>
                                                        </button>
                                                    </div>
                                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info"><small>Update</small>
                                        <a class="remove-item text-danger" id="delete_{{ item.service_name }}"><small>Delete</small>
                                    </td>
                                    <td class="p-3 w-25">
                                        <p class="my-0"><strong>{{ item.service_price }}</strong> {{ item.service_price_type.get_friendly_name }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <p>Total: {{ total }}</p>
                        <a href="{% url 'checkout' %}">
                            <span class="font-weight-bold">Complete Order</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <a href="#"><span class="text-uppercase">Keep Shopping</span></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'services/includes/quantity_input_script.html' %}

    <script type="text/javascript">
        // UPDATE QUANTITY ON CLICK
        $('.update-link').click(function(e){
            var form = $(this).prev('.update-form');
            form.submit();
        })

        // DELETE ITEM FROM BAG AND REFRESH ON CLICK
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}"
            var itemName = $(this).attr('id').split('delete_')[1];
            console.log($(this))
            console.log(itemName)
            var url = `/bag/remove/${itemName}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
             .done(function(){
                 location.reload();
             });
        })
    </script>
{% endblock %}