<script type="text/javascript">
    // DISABLE +/- BUTTONS ACCORDINGLY
    function disableQuantity(value){
        if (value >= 3){
            $('.increment-qty').prop('disabled', true)
        } else {
            $('.increment-qty').prop('disabled', false)
        }
        if (value <= 1){
            $('.decrement-qty').prop('disabled', true)
        } else {
            $('.decrement-qty').prop('disabled', false)
        }
    }

    // INCREMENT QUANTITY
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
        disableQuantity($(closestInput).val())
    })

    // DECREMENT QUANTITY
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
        disableQuantity($(closestInput).val())
    })
</script>