{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <header class="container">
        <div class="row">
            <div class="col-12 text-center my-4">
                <h2>Service Management</h2>
                <h4>Edit Service</h4>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6 mb-5">
                <form method="POST" action="{% url 'edit_service' service.endpoint %}" class="form mb-2">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <a href="{% url 'compare_services' %}">Cancel</a>
                    <button type="submit">Update Service</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
