{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    <!-- FAVICONS -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#8e2ccc">
    <meta name="apple-mobile-web-app-title" content="Code Companion">
    <meta name="application-name" content="Code Companion">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/eb13987625.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Josefin+Sans:ital,wght@0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Code Companion{% block extra_title %}{% endblock %}</title>
  </head>
  <body>
  
    <nav id="nav" class="navbar navbar-expand-lg navbar-light">
      <div id="subnav" class="container-fluid">
        <button class="navbar-toggler ms-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a href="{% url 'home' %}" id="logo" class="navbar-brand me-auto ps-3 my-2" href="#"><span class="title-code">code</span><span class="title-companion"> companion</span></a>
        <a class="mx-4 bag-count d-block d-lg-none" href="{% url 'view_bag' %}"><i class="fas fa-shopping-basket fa-lg"></i> {{ product_count }}</a>
        <div class="collapse navbar-collapse ms-3 me-0" id="navbarNavAltMarkup">
          <div class="navbar-nav pe-3">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Services
              </a>
              <ul class="dropdown-menu me-3" aria-labelledby="navbarDropdownMenuLink">
                {% for service in services %}
                  <li><a class="dropdown-item" href="{% url 'service_detail' service.endpoint %}" class="text-muted mb-1 sub-link">{{ service }}</a></li>
                {% endfor %}
                <hr>
                <li><a class="dropdown-item" href="{% url 'compare_services' %}"><strong>Compare Services</strong></a></li>
                {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                    <li><a class="dropdown-item" href="{% url 'add_service' %}"><strong>Add Service</strong></a></li>
                  {% endif %}
                {% endif %}
              </ul>
            </li>
            <a class="nav-link" href="{% url 'companions' %}">Our Companions</a>
            <a class="nav-link" href="#">Book Session</a>
            <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
            <div class="col-12 col-md-8 d-block d-lg-none">
              <form method="GET" action="{% url 'search' %}" class="input-group my-3">
                <input type="text" class="form-control form-control-lg search-input" name="q" placeholder="Enter service/companion name" aria-label="Enter service/companion name" aria-describedby="button-search-mobile">
                <button type="submit" class="btn btn-hero" type="button" id="button-search-mobile">Search</button>
              </form>
            </div>
            {% if request.user.is_authenticated %}
              <a class="d-lg-none btn-signup btn-hero mobile-nav-item text-center mt-2" href="{% url 'profile' %}">Profile</a>
              <a class="d-lg-none account-nav mobile-nav-item text-center mt-2 mb-4" href="{% url 'account_logout' %}">Logout</a>
            {% else %}
              <a class="d-lg-none btn-signup btn-hero mobile-nav-item text-center mt-2" href="{% url 'account_signup' %}">Signup</a>
              <a class="d-lg-none account-nav mobile-nav-item text-center mt-2 mb-4" href="{% url 'account_login' %}">Login</a>
            {% endif %}
          </div>
        </div>
        <div class="d-lg-none nav-mobile-border"></div>
        <div class="ms-auto d-none d-lg-inline-block me-4">
          <a class="btn btn-secondary mx-1" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            <i class="fas fa-search"></i>
          </a>
          {% if request.user.is_authenticated %}
            <a class="mx-1 px-3 btn-hero btn-signup" href="{% url 'profile' %}">Profile</a>
            <a class="mx-1 account-nav" href="{% url 'account_logout' %}">Logout</a>
            <a class="mx-1 bag-count" href="{% url 'view_bag' %}"><i class="fas fa-shopping-basket fa-lg"></i> {{ product_count }}</a>
          {% else %}
            <a class="mx-1 btn-hero btn-signup" href="{% url 'account_signup' %}">Sign Up</a>
            <a class="mx-1 account-nav" href="{% url 'account_login' %}">Login</a>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="d-none d-lg-block">
      <div class="search-panel container-fluid collapse" id="collapseExample">
        <div class="row">
          <div class="col-lg-7 col-xl-8"></div>
          <div class="col-lg-5 col-xl-4">
            <form method="GET" action="{% url 'search' %}" class="input-group mb-3">
              <input type="text" class="form-control form-control-lg search-input" name="q" placeholder="Enter service/companion name" aria-label="Enter service/companion name" aria-describedby="button-search-desktop">
              <button type="submit" class="btn btn-hero" type="button" id="button-search-desktop">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>



    {% if messages %}
        <div class="message-container">
          {% for message in messages %}
            {% with message.level as level %}
              {% if level == 40 %}
                {% include 'includes/toasts/toast_error.html' %}
              {% elif level == 30 %}
                {% include 'includes/toasts/toast_warning.html' %}
              {% elif level == 25 %}
                {% include 'includes/toasts/toast_success.html' %}
              {% else %}
                {% include 'includes/toasts/toast_info.html' %}
              {% endif %}
            {% endwith %}
          {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer class="container-fluid">
      <div class="row bg-dark mt-4 px-4">
          <div class="col-12 col-md mt-4 text-center text-md-start">
            <h5><span class="title-code text-white">code</span><span class="title-companion"> companion</span></h5>
          </div>
          <div class="col mt-4 text-center text-md-start">
            <h4 class="text-light">Services</h4>
            {% for service in services %}
              <a href="{% url 'service_detail' service.endpoint %}" class="text-muted mb-1 sub-link">{{ service }}</a><br>
            {% endfor %}
            <a href="{% url 'compare_services' %}" class="text-muted mb-1 sub-link"><i>Compare Services</i></a>
          </div>
          <div class="col mt-4 text-center text-md-start">
            <h4 class="text-light">FAQ</h4>
            <a href="{% url 'faq' %}#payments" class="text-muted mb-1 sub-link">Payments</a><br>
            <a href="{% url 'faq' %}#refunds" class="text-muted mb-1 sub-link">Refunds</a><br>
            <a href="{% url 'faq' %}#privacy" class="text-muted mb-1 sub-link">Privacy</a><br>
            <a href="{% url 'faq' %}#accounts" class="text-muted mb-1 sub-link">Accounts</a><br>
            <a href="{% url 'faq' %}#services" class="text-muted mb-1 sub-link">Services</a><br>
            <a href="{% url 'faq' %}" class="text-muted mb-1 sub-link"><i>View all</i></a><br>
          </div>
          <div class="col-12 col-md mt-4 text-center text-md-start">
            <h4 class="text-light">Contact</h4>
            <a href="mailto:contact@codecompanion.co.uk" class="text-muted mb-1 sub-link">contact@codecompanion.co.uk</a><br>
            <a href="tel:+442079460290" class="text-muted mb-1 sub-link">🇬🇧 +44 20 7946 0290</a><br>
          </div>
      </div>
      <div class="row bg-dark pt-4 text-center">
        <a href="#"><i class="fas fa-chevron-up text-muted"></i></a>
        <a href="#" class="text-muted pb-2 sub-link">Back to top</a>
        <p class="text-muted mb-4">© 2021</p>
      </div>
    </footer>
    
    {% block postloadjs %}
      <script type="text/javascript">
        var option = {
          animation: true,
          delay: 2000
        }
        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
        var toastList = toastElList.map(function (toastEl) {
          if ($(toastEl).hasClass('warning')){
            option['delay'] = 5000
          }
          return new bootstrap.Toast(toastEl, option).show()
        })
      </script>
    {% endblock %}
  </body>
</html>