{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Josefin+Sans:ital,wght@0,700;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Code Companion {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
  
    <nav id="nav" class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button class="navbar-toggler me-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a id="logo" class="navbar-brand me-auto px-3 my-2" href="#"><span class="title-code">code</span><span class="title-companion"> companion</span></a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-2">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Services
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Pair Programming</a></li>
                <li><a class="dropdown-item" href="#">Code Review</a></li>
                <li><a class="dropdown-item" href="#">CV/LinkedIn Review</a></li>
                <li><a class="dropdown-item" href="#">Troubleshooting</a></li>
                <li><a class="dropdown-item" href="#">Whiteboarding</a></li>
                <li><a class="dropdown-item" href="#">Interview Prep</a></li>
                <li><a class="dropdown-item" href="#">Deployment Assist</a></li>
              </ul>
            </li>
            <a class="nav-link" href="#">Our Companions</a>
            <a class="nav-link" href="#">Book Session</a>
            <a class="nav-link" href="#">FAQ</a>
            <a class="d-lg-none account-nav mobile-nav-item text-center mt-2" href="#">Companion Portal</a>
            <a class="d-lg-none account-nav mobile-nav-item text-center mt-2" href="#">Signup</a>
            <a class="d-lg-none account-nav mobile-nav-item text-center mt-2" href="#">Login</a>
          </div>
        </div>
        <div class="ms-auto d-none d-lg-inline-block">
          <a class="mx-2 muted-nav" href="#">Companion Portal</a>
          <a class="mx-2 account-nav" href="#">Sign Up</a>
          <a class="mx-2 account-nav" href="#">Login</a>
        </div>
      </div>
    </nav>



    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}
  </body>
</html>