{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Compare Services{% endblock %}

{% block page_header %}
    <header class="container">
        <div class="row">
            <div class="col-12 text-center mt-4">
                <h2>Compare Services</h2>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
        <div class="container-fluid">
            <div class="row mx-0">
                <form class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pe-1 pb-2">
                    <small>Sort by</small>
                    <select name="sort" id="sortServices" onchange="this.form.submit()" class="form-select" aria-label="Sorting options">
                        <option value="popular" {% if request.GET.sort == 'popular' %}selected{% endif %}>Most popular</option>
                        <option value="ASC" {% if request.GET.sort == 'ASC' %}selected{% endif %}>Price (Low to High)</option>
                        <option value="DESC" {% if request.GET.sort == 'DESC' %}selected{% endif %}>Price (High to Low)</option>
                    </select>
                </form>
            </div>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            {% for service in all_services %}
                <div class="col">
                    <div class="card h-100 text-center p-4 testimonial-block">
                        <div class="card-body">
                            <h3 class="mb-4"><i class="{{ service.icon }}"></i></h3>
                            <a href="{% url 'service_detail' service.endpoint %}" class="h4 text-dark card-title hero-underline">{{ service }}</a>
                            <p class="card-text service-description">{{ service.description }}</p>
                            <h2>£{{ service.price }}</h2>
                            <h6>{{ service.price_type.get_friendly_name }}</h6>
                            {% if service.bullet_point_1 %}
                                <ul>
                                    <li class="service-points mt-4">{{ service.bullet_point_1 }}</li>
                                    {% if service.bullet_point_2 %}
                                        <li class="service-points">{{ service.bullet_point_2 }}</li>
                                    {% endif %}
                                    {% if service.bullet_point_3 %}
                                        <li class="service-points">{{ service.bullet_point_3 }}</li>
                                    {% endif %}
                                    {% if service.bullet_point_4 %}
                                        <li class="service-points">{{ service.bullet_point_4 }}</li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="card-footer service-detail">
                            <a href="{% url 'service_detail' service.endpoint %}" class="btn-hero account-nav">Book a session</a>
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <br><br>
                                    <a href="{% url 'edit_service' service.endpoint %}"><strong>Edit Service</strong></a><br>
                                    <a href="{% url 'delete_service' service.endpoint %}"><strong>Delete Service</strong></a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% if not request.user.is_authenticated %}
        <div class="container">
            <div class="row pt-5">
                <div class="col-12 text-center">
                    <h2>Advance yourself. Sign up for an account.</h2>
                    <form class="mt-4">
                        <div class="input-group mb-3 signup-combo mx-auto">
                            <input type="text" class="form-control" placeholder="youremail@company.com" aria-label="Your email" aria-describedby="button-addon2" required>
                            <button class="btn btn-hero" type="button" id="button-addon2">Sign up now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}