{% extends "base.html" %}
{% load static %}

{% block extra_title %}: Service Detail{% endblock %}

{% block page_header %}
    <header class="container">
        <div class="row">
            <div class="col-12 text-center my-4">
                <h2>Book a <span class="hero-underline">{{ service }}</span>{% if 'Session' not in service.name %} session{% endif %}</h2>
                {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                    <a href="{% url 'edit_service' service.endpoint %}"><strong>Edit Service</strong></a><br>
                    <a href="{% url 'delete_service' service.endpoint %}"><strong>Delete Service</strong></a>
                  {% endif %}
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="card h-100 text-center p-4">
                    <div class="card-body">
                        <h3 class="mb-4"><i class="{{ service.icon }}"></i></h3>
                        <h4 class="card-title hero-underline">{{ service }}</h4>
                        <p class="card-text">{{ service.description }}</p>
                        <h2>£{{ service.price }}</h2>
                        <h6>{{ service.price_type.get_friendly_name }}</h6>
                        {% if service.bullet_point_1 %}
                            <ul>
                                <li class="service-points mt-4">{{ service.bullet_point_1 }}</li>
                                {% if service.bullet_point_2 %}
                                    <li class="service-points">{{ service.bullet_point_2 }}</li>
                                {% endif %}
                                {% if service.bullet_point_3 %}
                                    <li class="service-points">{{ service.bullet_point_3 }}</li>
                                {% endif %}
                                {% if service.bullet_point_4 %}
                                    <li class="service-points">{{ service.bullet_point_4 }}</li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <form class="form" action="{% url 'add_to_bag' service.name %}" method="POST">
                    {% csrf_token %}
                    <div class="col-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div id="datepicker-container" class="mx-auto">
                                    {% for key, value in next_5_days.items %}
                                        <label class="datepicker rounded">
                                            <input name="date-selection" class="date-radio" type="radio">
                                            <span class="day-title datepicker-text">{{ value.day }}</span>
                                            <span class="date-title datepicker-text">{{ value.date }}</span>
                                            <span class="month-title datepicker-text">{{ value.month }}</span>
                                        </label>
                                    {% endfor %}
                                    <!-- <label class="datepicker rounded">
                                        <input name="date-selection" class="date-radio" type="radio">
                                        <span class="day-title datepicker-text">MON</span>
                                        <span class="date-title datepicker-text">24</span>
                                        <span class="month-title datepicker-text">JUL</span>
                                    </label>
                                    <label class="datepicker rounded">
                                        <input name="date-selection" class="date-radio" type="radio">
                                        <span class="day-title datepicker-text">TUE</span>
                                        <span class="date-title datepicker-text">25</span>
                                        <span class="month-title datepicker-text">JUL</span>
                                    </label>
                                    <label class="datepicker rounded">
                                        <input name="date-selection" class="date-radio" type="radio">
                                        <span class="day-title datepicker-text">WED</span>
                                        <span class="date-title datepicker-text">26</span>
                                        <span class="month-title datepicker-text">JUL</span>
                                    </label>
                                    <label class="datepicker rounded">
                                        <input name="date-selection" class="date-radio" type="radio">
                                        <span class="day-title datepicker-text">THU</span>
                                        <span class="date-title datepicker-text">27</span>
                                        <span class="month-title datepicker-text">JUL</span>
                                    </label>
                                    <label class="datepicker rounded">
                                        <input name="date-selection" class="date-radio" disabled type="radio">
                                        <span class="day-title datepicker-text">FRI</span>
                                        <span class="date-title datepicker-text">28</span>
                                        <span class="month-title datepicker-text">JUL</span>
                                    </label> -->
                                </div>
                                <!-- <div class="input-group-prepend">
                                    <button class="decrement-qty btn btn-black rounded-0" disabled>
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                    </button>
                                </div>
                                <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="3" required>
                                <div class="input-group-append">
                                    <button class="increment-qty btn btn-black rounded-0">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                    </button>
                                </div> -->
                                <!-- <div class="input-group my-4">
                                    <select id="daySelection" name="daySelection" class="w-75 mx-auto" required>
                                        <option value="" disabled selected>Select day of the week</option>
                                        <option{% if days_count.monday_available == 0 %} disabled{% endif %}>Monday</option>
                                        <option{% if days_count.tuesday_available == 0 %} disabled{% endif %}>Tuesday</option>
                                        <option{% if days_count.wednesday_available == 0 %} disabled{% endif %}>Wednesday</option>
                                        <option{% if days_count.thursday_available == 0 %} disabled{% endif %}>Thursday</option>
                                        <option{% if days_count.friday_available == 0 %} disabled{% endif %}>Friday</option>
                                    </select>
                                </div> -->
                                <div class="input-group my-4">
                                    <!-- <select id="companionSelection" name="companionSelection" class="w-75 mx-auto" required disabled>
                                        <option value="" disabled selected>Select companion</option>
                                    </select> -->
                                    <select id="companionSelection" name="companionSelection" class="w-75 mx-auto" required>
                                        <option value="" disabled selected>Select companion</option>
                                        <option>companion</option>
                                        <option>sambaker</option>
                                    </select>
                                </div>
                                <input type="date" name="date">
                                <input type="time" name="time" min="09:00" max="18:00">
                                <!-- <input id="addToBag" type="submit" value="Add to bag" disabled> -->
                                <input id="addToBag" type="submit" value="Add to bag">
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- {% include 'services/includes/quantity_input_script.html' %} -->
    
    <script>
        // $("#companionSelection").change(function(){
        //     $("#addToBag").attr('disabled', false)
        // })

        // APPLY ACTIVE STYLE TO CHECKED DATEPICKER
        $(".date-radio").on('click', function(){
            if ($(this).prop('checked')){
                $('.date-radio').parent('label').removeClass('datepicker-enabled')
                $(this).parent('label').addClass('datepicker-enabled')
            }
        })
        // APPLY DISABLED STYLE TO DISABLED DATEPICKER
        if ($(".date-radio").is(':disabled')){
            $(".date-radio:disabled").parent('label').addClass('datepicker-disabled')
        }
        

        $("#daySelection").change(function(){
            var day = $(this).val().toLowerCase() + "_available"
            var service = "{{ service }}"
            // remove pre-existing options
            $("#companionSelection").children('.dynamic-entry').remove()

            // SOURCE: https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.html
            $.ajax(
            {
                type:"GET",
                url: "/services/companion_availability_check",
                data:{
                        day_selection: day,
                        service_selection: service,
                },
                success: function( data ) 
                {
                    if (data.available_companions.length > 0) {
                        $("#companionSelection").attr('disabled', false)
                        for (companion in data.available_companions){
                            // add new options
                            $("#companionSelection").append(`<option class="dynamic-entry">${data.available_companions[companion]}</option>`)
                        }
                    } else {
                        $("#companionSelection").attr('disabled', true)
                        $("#companionSelection").children('.dynamic-entry').remove()
                        $("#addToBag").attr('disabled', true)
                    }
                }
            })

            if ($("#companionSelection").attr('disabled', false)){
                $("#addToBag").attr('disabled', false)
            }

      });
    </script>
{% endblock %}