{% extends "base.html" %}
{% load static %}

{% block extra_title %}: Service Detail{% endblock %}

{% block page_header %}
    <header class="container">
        <div class="row">
            <div class="col-12 text-center my-4">
                <h2>Book a <span class="hero-underline">{{ service }}</span>{% if 'Session' not in service.name %} session{% endif %}</h2>
                {% if request.user.is_authenticated %}
                  {% if request.user.is_superuser %}
                    <a href="{% url 'edit_service' service.endpoint %}"><strong>Edit Service</strong></a><br>
                    <a href="{% url 'delete_service' service.endpoint %}"><strong>Delete Service</strong></a>
                  {% endif %}
                {% endif %}
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="card h-100 text-center p-4">
                    <div class="card-body">
                        <h3 class="mb-4"><i class="{{ service.icon }}"></i></h3>
                        <h4 class="card-title hero-underline">{{ service }}</h4>
                        <p class="card-text">{{ service.description }}</p>
                        <h2>£{{ service.price }}</h2>
                        <h6>{{ service.price_type.get_friendly_name }}</h6>
                        {% if service.bullet_point_1 %}
                            <ul>
                                <li class="service-points mt-4">{{ service.bullet_point_1 }}</li>
                                {% if service.bullet_point_2 %}
                                    <li class="service-points">{{ service.bullet_point_2 }}</li>
                                {% endif %}
                                {% if service.bullet_point_3 %}
                                    <li class="service-points">{{ service.bullet_point_3 }}</li>
                                {% endif %}
                                {% if service.bullet_point_4 %}
                                    <li class="service-points">{{ service.bullet_point_4 }}</li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-6">
                <form class="form" action="{% url 'add_to_bag' service.name %}" method="POST">
                    {% csrf_token %}
                    <div class="col-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div id="datepicker-container" class="mx-auto">
                                    {% for key, value in next_5_days.items %}
                                        <label class="datepicker rounded {% if not value.companions_available %}datepicker-disabled{% endif %}">
                                            <input name="date-selection" class="date-radio" type="radio" value="{{ key|date:'Y-m-d' }}" {% if not value.companions_available %}disabled{% endif %} required>
                                            <span class="day-title datepicker-text">{{ value.day }}</span>
                                            <span class="date-title datepicker-text">{{ value.date }}</span>
                                            <span class="month-title datepicker-text">{{ value.month }}</span>
                                        </label>
                                    {% endfor %}
                                </div>
                                <div class="input-group mt-4 mb-2">
                                    <select id="companionSelection" name="companionSelection" class="form-select" disabled required>
                                        <option value="" disabled selected>Select companion</option>
                                    </select>
                                </div>
                                <div class="input-group my-2">
                                    <select id="time-selection" name="time-selection" class="form-select" disabled required>
                                        <option value="" disabled selected>Select time</option>
                                        {% for slot in slots %}
                                            <option value="{{ slot.start_time|time:"H:i" }}">{{ slot.start_time|time:"H:i" }} - {{ slot.end_time|time:"H:i" }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button id="addToBag" class="btn btn-hero rounded mt-2" type="submit">Add to bag</button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    
    <script>


        // SET GLOBAL VARIABLE WITH AJAX RESPONSE
        var availability_data;

        $(".date-radio").on('click', function(){
            // RESET STATE BACK TO DEFAULT
            $("#companionSelection").attr('disabled', true)
            $("#time-selection").attr('disabled', true)
            $("#companionSelection").children('option').remove()
            $("#companionSelection").append(`<option value="" disabled selected>Select companion</option>`)
            // $("#time-selection").children('option').remove()
            // $("#time-selection").append(`<option value="" disabled selected>Select time</option>`)

            // CAPTURE DATA AND SERVICE SELECTION
            var date = $(this).val()
            var service = "{{ service }}"

            // SEND TO SERVER
            // SOURCE: https://simpleisbetterthancomplex.com/tutorial/2016/08/29/how-to-work-with-ajax-request-with-django.html
            $.ajax(
            {
                type:"GET",
                url: "/services/companion_availability_check",
                data:{
                        date_selection: date,
                        service_selection: service,
                },
                success: function( data ) 
                {
                    if (data.available_companions.length > 0) {
                        // ASSIGN RETURNED DATA TO GLOBAL VARIABLE
                        availability_data = data.available_companions
                        // REMOVE DISABLED STATE
                        $("#companionSelection").attr('disabled', false)
                        for (companion in data.available_companions){
                            available_companion = Object.keys(data.available_companions[companion])
                            // ADD COMPANIONS TO DROPDOWN
                            $("#companionSelection").append(`<option>${available_companion}</option>`)
                        }
                    } else {
                        // APPEND BACK DEFAULT DROPDOWN VALUE
                        $("#companionSelection").append(`<option value="" disabled selected>Select companion</option>`)
                    }
                }
            })
        })

        $("#companionSelection").on('input', function(){
            $("#time-selection").attr('disabled', false)
            // $("#time-selection").empty()
            for (companion in availability_data){
                if (availability_data[companion][$(this).val()]){
                    time_slots = Object.values(availability_data[companion][$(this).val()])
                    for (slot in time_slots){

                        // LOCAL DISPLAYED TIME
                        // SOURCE: https://stackoverflow.com/questions/21298035/how-to-get-localetime-without-seconds-in-javascript
                        var start_ts_local = new Date(time_slots[slot]['start_time']).toLocaleTimeString().replace(/(.*)\D\d+/, '$1')
                        var end_ts_local = new Date(time_slots[slot]['end_time']).toLocaleTimeString().replace(/(.*)\D\d+/, '$1')
                        // var start_ts_local = new Date(time_slots[slot]['start_time']).toLocaleTimeString('en-GB', { timeZone: 'Europe/London' }).replace(/(.*)\D\d+/, '$1')
                        // var end_ts_local = new Date(time_slots[slot]['end_time']).toLocaleTimeString('en-GB', { timeZone: 'Europe/London' }).replace(/(.*)\D\d+/, '$1')


                        $("#time-selection > option").each(function() {
                            if (this.value == new Date(time_slots[slot]['start_time']).toLocaleTimeString().replace(/(.*)\D\d+/, '$1')){
                                if (time_slots[slot]['status'] == 'disabled'){
                                    $(this).attr('disabled', true)
                                }
                            }
                        })


                        // UTC TIME UNFORMATTED
                        var utc_unformatted = new Date(time_slots[slot]['start_time'])

                        // UTC TIME HOUR FORMATTING
                        var start_hour = utc_unformatted.getUTCHours()
                        if (start_hour.toString().length < 2){
                            start_hour = "0" + start_hour
                        }
                        // UTC TIME MINUTES FORMATTING
                        var start_minutes = utc_unformatted.getUTCMinutes()
                        if (start_minutes.toString().length < 2){
                            start_minutes = "0" + start_minutes
                        }
                        // UTC TIME FORMATTED
                        var start_ts = start_hour + ":" + start_minutes

                        // ADDED DISABLED STATE
                        if (time_slots[slot]['status'] == 'disabled'){   
                            var status = time_slots[slot]['status']
                        } else {
                            var status = ''
                        }
                        // UTC AS THE VALUE
                        // $("#time-selection").append(`<option ${status} value="${start_ts}">${start_ts_local} - ${end_ts_local}</option>`)
                        // LOCAL AS THE VALUE
                        // $("#time-selection").append(`<option ${status} value="${start_ts_local}">${start_ts_local} - ${end_ts_local}</option>`)

                    }
                }
            }
        })
        
    </script>
{% endblock %}